
.chroma_db/*
.lightrag_storage/
config.yaml
chroma_db.zip

# IDE & editor
.idea/
.vscode/

# Python
__pycache__/
*.py[cod]
*.egg-info/
*.swp
.venv/
venv/

# OS
.DS_Store
Thumbs.db

# Temp & logs
/tmp/
*.log

# Data
img/
img_backup/
